<ul>

    <li> 
        <a href="{{ route('home') }}">Home</a> 
    </li>
    
    {% if auth().check() %}
        <li> <a href="{{ route('dashboard') }}">Dashboard</a> </li>

        <li> {{ auth().user().first_name }} </li>

        <li> 
            <form action="{{ route('logout') }}" method="POST">
                {{ csrf() | raw }}
                <button type="submit"> Log out </button>
            </form>
        </li>

    {% endif %}

    {% if not auth().check() %}
        <li> <a href="{{ route('register') }}">Register</a> </li>
        <li> <a href="{{ route('login') }}">Login</a> </li>
    {% endif %}
    

</ul>